.ResetPlayerScoreForm {
    padding: var(--layout-padding);
    border-radius: var(--border-radius);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
