.Modal {
    --backdrop-bg-closed: rgba(0, 0, 0, 0);
    --backdrop-bg-open: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: var(--backdrop-bg-closed);
    display: grid;
    place-items: center;
    transition: all var(--transition-duration) var(--transition-tf-ease);

    &.isOpen {
        background-color: var(--backdrop-bg-open);
        animation: backdropOpen var(--transition-duration) var(--transition-tf-ease);
        pointer-events: all;
        opacity: 1;

        .Container {
            animation: containerOpen var(--transition-duration) var(--transition-tf-wobble);
        }
    }

    &.isClosed {
        background-color: var(--backdrop-bg-closed);
        animation: backdropClose var(--transition-duration) var(--transition-tf-ease);
        pointer-events: none;
        opacity: 0;

        .Container {
            animation: containerClose var(--transition-duration) var(--transition-tf-ease);
        }
    }

    .Container {
        width: clamp(350px, 80%, 800px);
        height: clamp(350px, 80%, 525px);
        background: white;
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        color: var(--text-black);

        .Header {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: var(--text-large);
            border-bottom: 1px solid var(--bg-lighter);
            padding-inline: calc(var(--layout-padding) + 35px);

            .CloseIconBtn {
                position: absolute;
                right: var(--layout-padding);
            }
        }

        .Body {
            flex-grow: 1;
            padding: var(--layout-padding);
            overflow-y: auto;
        }

        .Footer {
            height: 60px;
            padding: var(--layout-padding);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(--layout-padding);
            border-top: 1px solid var(--bg-lighter);
        }
    }
}

@keyframes backdropOpen {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes backdropClose {
    from {
        background-color: rgba(0, 0, 0, 0.5);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes containerOpen {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

@keyframes containerClose {
    from {
        scale: 1;
    }
    to {
        scale: 0;
    }
}
