.GameArea {
    background-color: var(--bg-game-area);
    padding: var(--layout-padding);
    display: grid;
    grid-template-areas:
        'Title Sidebar'
        'GameModerator Sidebar'
        'CardPicker Sidebar';
    grid-template-rows: 50px 1fr auto;
    grid-template-columns: 1fr 100px;
    overflow: hidden;

    &_Title {
        grid-area: Title;
    }

    &_GameModerator {
        grid-area: GameModerator;
        place-self: center;
    }

    &_CardPicker {
        transition: transform var(--transition-duration) var(--transition-tf-ease);
        grid-area: CardPicker;
        justify-self: center;
        transform: translateY(300px);

        &.show {
            transition: transform var(--transition-duration) var(--transition-tf-wobble);
            transform: translateY(-20px);
        }
    }
}
