.GameArea {
    background-color: var(--bg-game-area);
    padding: var(--layout-padding);
    display: grid;
    grid-template-areas:
        'Title Sidebar'
        'GameModerator Sidebar'
        'CardPicker Sidebar';
    grid-template-rows: 50px 1fr auto;
    grid-template-columns: 1fr 100px;
    overflow: hidden;

    &_Title {
        grid-area: Title;
    }

    &_GameModerator {
        grid-area: GameModerator;
        place-self: center;
    }

    &_CardPicker {
        transition: translate var(--transition-duration) var(--transition-tf-ease);
        grid-area: CardPicker;
        justify-self: center;
        translate: 0 -20px;
        // translate: 0 300px;
    }
}
