.GameArea {
    background-color: var(--bg-game-area);
    padding: var(--layout-padding);
    display: grid;
    grid-template-areas:
        'Sidebar Title'
        'Sidebar GameModerator'
        'Sidebar CardPicker';
    grid-template-rows: 150px 1fr auto;
    grid-template-columns: auto 1fr;
    overflow: hidden;

    &_TopContainer {
        display: flex;
        flex-direction: column;
        gap: var(--layout-padding);

        &_Title {
            grid-area: Title;
        }

        .PlayerName {
            font-size: 12px;
            text-align: center;
            display: flex;
            gap: var(--layout-padding);
            justify-content: center;
            align-items: baseline;
            letter-spacing: 1.5px;

            &_Value {
                font-weight: bold;
            }
        }
    }

    &_Sidebar {
        grid-area: Sidebar;
    }

    &_GameModerator {
        grid-area: GameModerator;
        place-self: center;
    }

    &_CardPicker {
        transition: transform var(--transition-duration) var(--transition-tf-ease);
        grid-area: CardPicker;
        justify-self: center;
        transform: translateY(300px);

        &.show {
            transition: transform var(--transition-duration) var(--transition-tf-wobble);
            transform: translateY(-20px);
        }
    }
}
