.List {
    display: flex;
    flex-direction: column;
    padding: var(--layout-padding);
    padding-left: calc(var(--layout-padding) * 2);
    margin-block: var(--layout-padding);
    font-size: var(--text-small);
    background: var(--bg-lighter);
    border-radius: var(--border-radius);
    gap: var(--layout-padding);
}
